{{/* Reusable card for link-type posts (media, awards, news, research) */}}
<div class="link-card pa3 mb3 bg-white">
  <h3 class="f5 fw6 mv0 lh-title">
    {{ if .Params.link_url }}
      <a href="{{ .Params.link_url }}" class="link black underline-hover" target="_blank" rel="noopener">{{ .Title }}</a>
    {{ else }}
      <a href="{{ .RelPermalink }}" class="link black underline-hover">{{ .Title }}</a>
    {{ end }}
  </h3>
  <div class="f6 gray mt1">
    {{ .Date.Format "2006-01-02" }}
    {{ with .Params.tags }}
      {{ range . }}
        <span class="dib bg-black white ph1 pv0 ml1 f7 fw7 ttu tracked">{{ . }}</span>
      {{ end }}
    {{ end }}
  </div>
  {{ with .Summary }}
    {{ $plain := plainify . }}
    {{ if gt (len $plain) 10 }}
      <p class="f6 mid-gray mt2 mb0 lh-copy">{{ $plain | truncate 180 }}</p>
    {{ end }}
  {{ end }}
</div>
