{{/* Reusable card for link-type posts (media, awards, news, research) */}}
<div class="link-card pa3 mb3 bg-white ba b--light-gray br2">
  <h3 class="f5 fw6 mv0 lh-title">
    {{ if .Params.link_url }}
      <a href="{{ .Params.link_url }}" class="link dark-blue dim" target="_blank" rel="noopener">{{ .Title }}</a>
    {{ else }}
      <a href="{{ .RelPermalink }}" class="link dark-blue dim">{{ .Title }}</a>
    {{ end }}
  </h3>
  <div class="f6 gray mt1">
    {{ .Date.Format "2006-01-02" }}
    {{ with .Params.tags }}
      {{ range . }}
        <span class="dib bg-light-gray ph1 pv0 br2 ml1 f7">{{ . }}</span>
      {{ end }}
    {{ end }}
  </div>
  {{ with .Summary }}
    {{ $plain := plainify . }}
    {{ if gt (len $plain) 10 }}
      <p class="f6 mid-gray mt2 mb0 lh-copy">{{ $plain | truncate 180 }}</p>
    {{ end }}
  {{ end }}
</div>
