<header>
  <div class="bg-black">
    {{ partials.Include "site-navigation.html" . }}
    <div class="tc-l pv3 ph3 ph4-ns">
      <h1 class="f2 f-subheadline-l fw9 white mb0 lh-title ttu-spaced">
        {{ with .Title }}
          <span class="ow-quote">{{ . }}</span>
        {{ else }}
          <span class="ow-quote">{{ .Site.Title }}</span>
        {{ end }}
      </h1>
      {{ with .Params.description }}
        <h2 class="fw4 f5 f3-l white-80 measure-wide-l center lh-copy mt3 mb4 ttu-spaced-wide">
          {{ . }}
        </h2>
      {{ end }}
    </div>
  </div>
</header>
