{{ define "main" }}
<article class="pa3 pa4-ns mw7 center">
  <header class="mb4">
    <p class="f6 fw7 gray mb1 ttu tracked">
      <a href="{{ (.Parent).RelPermalink }}" class="link black underline-hover">&larr; "PUBLICATIONS"</a>
    </p>
    <h1 class="f2 fw9 lh-title mb2">{{ .Title }}</h1>
    <div class="f6 gray">
      {{ .Date.Format "2006-01-02" }}
      {{ with .Params.tags }}
        {{ range . }}
          <a href="{{ absURL (printf "tags/%s/" (urlize .)) }}" class="link dib bg-black white ph2 pv1 ml1 no-underline f7 fw7 ttu tracked">{{ . }}</a>
        {{ end }}
      {{ end }}
    </div>
    {{ with .Params.link_url }}
      <p class="mt3 mb0">
        <a href="{{ . }}" class="f5 link white bg-black ph3 pv2 dib fw7 ttu tracked underline-hover" target="_blank" rel="noopener">READ PAPER &rarr;</a>
      </p>
    {{ end }}
  </header>
  <div class="nested-copy-line-height lh-copy f4 nested-links mid-gray">
    {{ .Content }}
  </div>
</article>
{{ end }}
