{{ define "header" }}
<header>
  <div class="bg-black">
    {{ partials.Include "site-navigation.html" . }}
    <div class="tc pv4 pv5-l ph3">
      <h1 class="f1 fw9 white mb0 ttu-spaced">404</h1>
      <p class="f5 white-70 mt3 mb0">Page not found</p>
    </div>
  </div>
</header>
{{ end }}

{{ define "main" }}
<article class="pa3 pa4-ns mw8 center tc">
  <p class="f4 lh-copy mid-gray mv4">The page you are looking for does not exist or has been moved.</p>
  <a href="{{ .Site.Home.RelPermalink }}" class="f6 fw7 dib link black ba b--black ph3 pv2 ttu tracked hover-bg-black hover-white">Back to Home</a>
</article>
{{ end }}
