<div class="members-grid">
{{ range .Site.Data.members.atr_staff }}
<div class="member-card pa3 mb3 bb b--black">
  <h3 class="f4 fw7 mb1 ttu tracked">{{ .name }}</h3>
  <p class="f5 gray mt0 mb1">{{ .name_ja }}</p>
  <p class="f5 mb1">{{ .role }} / {{ .role_ja }}</p>
  {{ if .affiliation }}<p class="f6 gray mt0 mb1">{{ .affiliation }}{{ with .affiliation_ja }} / {{ . }}{{ end }}</p>{{ end }}
  {{ if .links }}{{ if gt (len .links) 0 }}
  <p class="f6">
    {{ range $i, $link := .links }}{{ if $i }} / {{ end }}<a href="{{ $link.url }}" class="link black underline-hover fw7">{{ $link.label }}</a>{{ end }}
  </p>
  {{ end }}{{ end }}
</div>
{{ end }}

{{ range .Site.Data.members.atr_students }}
<div class="member-card pa3 mb3 bb b--black">
  <h3 class="f4 fw7 mb1 ttu tracked">{{ .name }}</h3>
  <p class="f5 gray mt0 mb1">{{ .name_ja }}</p>
  <p class="f5 mb0">{{ .level }}{{ with .affiliation }}, {{ . }}{{ end }}</p>
</div>
{{ end }}

{{ range .Site.Data.members.atr_secretary }}
<div class="member-card pa3 mb3 bb b--black">
  <h3 class="f4 fw7 mb1 ttu tracked">{{ .name }}</h3>
  <p class="f5 gray mt0 mb1">{{ .name_ja }}</p>
  <p class="f5 mb0">{{ .role }} / {{ .role_ja }}</p>
</div>
{{ end }}
</div>
