{{ define "main" }}
<article class="pa3 pa4-ns mw7 center">
  <h1 class="f2 fw9 mb4 ttu tracked ow-quote">{{ .Title }}</h1>
  <div id="search" class="mb5"></div>
  <link href="{{ "pagefind/pagefind-ui.css" | relURL }}" rel="stylesheet">
  <script src="{{ "pagefind/pagefind-ui.js" | relURL }}"></script>
  <script>
    window.addEventListener('DOMContentLoaded', function () {
      new PagefindUI({
        element: "#search",
        showSubResults: true,
        showImages: false
      });
    });
  </script>
</article>
{{ end }}
